USE [master]
GO
/****** Object:  Database [4TL_SHOP]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE DATABASE [4TL_SHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'4TL_SHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\4TL_SHOP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'4TL_SHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\4TL_SHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [4TL_SHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [4TL_SHOP]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Audit_Changes]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Function: fn_Audit_Changes
   Mục đích: Trả về JSON của inserted/deleted để tiện log audit
   ============================================================ */
CREATE   FUNCTION [dbo].[fn_Audit_Changes](
    @table sysname,
    @keycol sysname,
    @action NVARCHAR(10)
)
RETURNS @T TABLE (
    EntityName sysname,
    EntityId NVARCHAR(64),
    Action NVARCHAR(10),
    OldValues NVARCHAR(MAX),
    NewValues NVARCHAR(MAX)
)
AS
BEGIN
    -- ⚠️ Không được truy cập trực tiếp inserted/deleted ở đây
    -- Thay vào đó, trigger sẽ gọi function này với dữ liệu đã lấy ra

    RETURN;
END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppNotification]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppNotification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](1000) NULL,
	[RefEntity] [nvarchar](100) NULL,
	[RefId] [nvarchar](64) NULL,
	[Severity] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](64) NOT NULL,
	[Action] [nvarchar](10) NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[ActorUserId] [nvarchar](64) NULL,
	[ActorEmail] [nvarchar](256) NULL,
	[Source] [nvarchar](32) NULL,
	[OccurredAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[DonGia] [decimal](18, 3) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 3) NOT NULL,
	[PhiVanChuyen] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapHang](
	[ChiTietNhapHangID] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NULL,
	[SanPhamID] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 3) NOT NULL,
	[TongTien] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietNhapHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[DanhMucID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhMucChaId] [int] NULL,
 CONSTRAINT [PK_DanhMucSanPham_tmp] PRIMARY KEY CLUSTERED 
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham_old]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham_old](
	[DanhMucID] [int] NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[DanhMucChaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[DiaChiID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SoNha] [nvarchar](255) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](100) NULL,
	[QuocGia] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiaChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThuTheoNam]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThuTheoNam](
	[Nam] [int] NOT NULL,
	[TongSoDonHang] [int] NULL,
	[TongSoLuong] [int] NULL,
	[TongDoanhThu] [decimal](18, 3) NULL,
	[LoiNhuan] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThuTheoNgay]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThuTheoNgay](
	[Ngay] [date] NOT NULL,
	[TongSoDonHang] [int] NULL,
	[TongSoLuong] [int] NULL,
	[TongDoanhThu] [decimal](18, 3) NULL,
	[LoiNhuan] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThuTheoThang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThuTheoThang](
	[Nam] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[TongSoDonHang] [int] NULL,
	[TongSoLuong] [int] NULL,
	[TongDoanhThu] [decimal](18, 3) NULL,
	[LoiNhuan] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nam] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[PhiVanChuyen] [decimal](18, 3) NOT NULL,
	[TongTien] [decimal](18, 3) NOT NULL,
	[DiaChiID] [int] NULL,
	[TrangThaiID] [int] NOT NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[PhuongThucThanhToan] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[TrangThaiDonHangText] [nvarchar](100) NULL,
	[EmailNguoiDat] [nvarchar](255) NULL,
	[TaiKhoanId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[SanPhamID] [int] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ProductCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[PhieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[NhaCungCapID] [int] NULL,
	[NgayNhap] [datetime] NOT NULL,
	[NhanVienID] [int] NULL,
	[TaiKhoanId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanId] [int] NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 3) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](255) NOT NULL,
	[DanhMucID] [int] NULL,
	[NhaCungCapID] [int] NOT NULL,
	[LaNoiBat] [bit] NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[GiaSauGiam] [decimal](18, 0) NULL,
	[ThongSoKyThuat] [nvarchar](max) NULL,
	[Slug] [nvarchar](200) NULL,
	[Sku] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SanPham_Sku] UNIQUE NONCLUSTERED 
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SanPham_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlugHistory]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlugHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[OldSlug] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaoTaiKhoan]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaoTaiKhoan](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](20) NOT NULL,
	[NhanVienID] [int] NULL,
	[KhachHangID] [int] NULL,
	[VaiTro] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechNews]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechNews](
	[TechNewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](220) NOT NULL,
	[Summary] [nvarchar](400) NULL,
	[ContentHtml] [nvarchar](max) NOT NULL,
	[CoverImage] [nvarchar](300) NULL,
	[Author] [nvarchar](100) NULL,
	[Tags] [nvarchar](200) NULL,
	[PublishedAt] [datetime2](0) NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_TechNews] PRIMARY KEY CLUSTERED 
(
	[TechNewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiDonHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDonHang](
	[TrangThaiID] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrangThaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[WishlistItemId] [int] IDENTITY(1,1) NOT NULL,
	[WishlistId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[TaiKhoanId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistId] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NULL,
	[SessionId] [nvarchar](100) NULL,
	[TaiKhoanId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppNotification_Newest]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppNotification_Newest] ON [dbo].[AppNotification]
(
	[CreatedAt] DESC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLog_Entity]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_Entity] ON [dbo].[AuditLog]
(
	[EntityName] ASC,
	[EntityId] ASC,
	[OccurredAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTDH_DonHangID]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTDH_DonHangID] ON [dbo].[ChiTietDonHang]
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTDH_SanPhamID]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTDH_SanPhamID] ON [dbo].[ChiTietDonHang]
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTNH_PhieuNhapID]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTNH_PhieuNhapID] ON [dbo].[ChiTietNhapHang]
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CTNH_SanPhamID]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTNH_SanPhamID] ON [dbo].[ChiTietNhapHang]
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechNews_IsFeatured]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_TechNews_IsFeatured] ON [dbo].[TechNews]
(
	[IsFeatured] ASC,
	[PublishedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechNews_PublishedAt]    Script Date: 11/25/2025 12:10:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_TechNews_PublishedAt] ON [dbo].[TechNews]
(
	[PublishedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppNotification] ADD  CONSTRAINT [DF_AppNotification_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppNotification] ADD  CONSTRAINT [DF_AppNotification_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_OccurredAt]  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_ThanhTien]  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  DEFAULT ((0)) FOR [PhiVanChuyen]
GO
ALTER TABLE [dbo].[ChiTietNhapHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_PhiVanChuyen]  DEFAULT ((0)) FOR [PhiVanChuyen]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((0)) FOR [ProductCount]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [LaNoiBat]
GO
ALTER TABLE [dbo].[SlugHistory] ADD  DEFAULT ('') FOR [OldSlug]
GO
ALTER TABLE [dbo].[SlugHistory] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TechNews] ADD  DEFAULT (sysutcdatetime()) FOR [PublishedAt]
GO
ALTER TABLE [dbo].[TechNews] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[TechNews] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[NhapHang] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[NhapHang] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_CTNH_PhieuNhap] FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[NhapHang] ([PhieuNhapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_CTNH_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_CTNH_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_CTNH_SanPham]
GO
ALTER TABLE [dbo].[DanhMucSanPham_old]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_ChaCon] FOREIGN KEY([DanhMucChaId])
REFERENCES [dbo].[DanhMucSanPham_old] ([DanhMucID])
GO
ALTER TABLE [dbo].[DanhMucSanPham_old] CHECK CONSTRAINT [FK_DanhMuc_ChaCon]
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([DiaChiID])
REFERENCES [dbo].[DiaChi] ([DiaChiID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([DiaChiID])
REFERENCES [dbo].[DiaChi] ([DiaChiID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThaiDonHang] ([TrangThaiID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThaiDonHang] ([TrangThaiID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TaoTaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TaoTaiKhoan]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_SanPham]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_NCC] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_NCC]
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_NhapHang_TaoTaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[NhapHang] CHECK CONSTRAINT [FK_NhapHang_TaoTaiKhoan]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMucSanPham_DanhMucId_Auto] FOREIGN KEY([DanhMucID])
REFERENCES [dbo].[DanhMucSanPham] ([DanhMucID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMucSanPham_DanhMucId_Auto]
GO
ALTER TABLE [dbo].[SlugHistory]  WITH CHECK ADD  CONSTRAINT [FK_SlugHistory_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SlugHistory] CHECK CONSTRAINT [FK_SlugHistory_SanPham]
GO
ALTER TABLE [dbo].[TaoTaiKhoan]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[TaoTaiKhoan]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[TaoTaiKhoan]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[TaoTaiKhoan]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD FOREIGN KEY([WishlistId])
REFERENCES [dbo].[Wishlists] ([WishlistId])
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD FOREIGN KEY([WishlistId])
REFERENCES [dbo].[Wishlists] ([WishlistId])
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_TaoTaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_TaoTaiKhoan]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_TaoTaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaoTaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_TaoTaiKhoan]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [CK_KhoHang_SoLuongTon_NonNegative] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [CK_KhoHang_SoLuongTon_NonNegative]
GO
ALTER TABLE [dbo].[TaoTaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaoTaiKhoan_LoaiTaiKhoan] CHECK  (([LoaiTaiKhoan]='Admin' OR [LoaiTaiKhoan]='NhanVien' OR [LoaiTaiKhoan]='KhachHang'))
GO
ALTER TABLE [dbo].[TaoTaiKhoan] CHECK CONSTRAINT [CK_TaoTaiKhoan_LoaiTaiKhoan]
GO
/****** Object:  StoredProcedure [dbo].[SetActorContext]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* --- 3. Helper: set user context từ ứng dụng (gọi đầu request) --- */
CREATE   PROCEDURE [dbo].[SetActorContext]
    @UserId NVARCHAR(64) = NULL,
    @Email  NVARCHAR(256) = NULL
AS
BEGIN
    EXEC sys.sp_set_session_context @key = N'ActorUserId', @value = @UserId, @read_only = 0;
    EXEC sys.sp_set_session_context @key = N'ActorEmail',  @value = @Email,  @read_only = 0;
END
GO
/****** Object:  Trigger [dbo].[trg_Audit_CTDH]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* BEGIN_PATCH: REPLACE WHOLE TRIGGER */
CREATE   TRIGGER [dbo].[trg_Audit_CTDH]
ON [dbo].[ChiTietDonHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @uid  NVARCHAR(64)  = CAST(SESSION_CONTEXT(N'ActorUserId')  AS NVARCHAR(64));
  DECLARE @mail NVARCHAR(256) = CAST(SESSION_CONTEXT(N'ActorEmail')   AS NVARCHAR(256));

  INSERT INTO dbo.AuditLog(EntityName, EntityId, Action, OldValues, NewValues, ActorUserId, ActorEmail, Source)
  SELECT
      N'ChiTietDonHang' AS EntityName,
      CONVERT(NVARCHAR(64), COALESCE(i.ChiTietID, d.ChiTietID)) AS EntityId,
      CASE WHEN i.ChiTietID IS NOT NULL AND d.ChiTietID IS NOT NULL THEN N'UPDATE'
           WHEN i.ChiTietID IS NOT NULL THEN N'INSERT'
           ELSE N'DELETE' END AS Action,
      (SELECT d.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS OldValues,
      (SELECT i.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS NewValues,
      @uid, @mail, N'Trigger'
  FROM inserted i
  FULL JOIN deleted d ON d.ChiTietID = i.ChiTietID;
END
GO
ALTER TABLE [dbo].[ChiTietDonHang] ENABLE TRIGGER [trg_Audit_CTDH]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSoLuongTonKhiBan]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatSoLuongTonKhiBan]
ON [dbo].[ChiTietDonHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Trạng thái HOÀN TẤT/CANCEL theo DB của bạn
    DECLARE @TT_DONE INT = 4;      -- Giao thành công
    -- DECLARE @TT_CANCEL INT = 5; -- Đã hủy (không cần ở trigger này)

    DECLARE @Delta TABLE (SanPhamID INT NOT NULL, DeltaQty INT NOT NULL);

    -- INSERT/UPDATE side: đơn đang HOÀN TẤT thì trừ tồn
    INSERT INTO @Delta (SanPhamID, DeltaQty)
    SELECT i.SanPhamID,
           SUM(CASE WHEN dh.TrangThaiID IN (@TT_DONE) THEN -i.SoLuong ELSE 0 END)
    FROM inserted i
    JOIN dbo.DonHang dh ON dh.DonHangID = i.DonHangID
    GROUP BY i.SanPhamID;

    -- DELETE/UPDATE side: nếu đơn đang HOÀN TẤT thì hoàn trả tồn phần bị xóa/giảm
    INSERT INTO @Delta (SanPhamID, DeltaQty)
    SELECT d.SanPhamID,
           SUM(CASE WHEN dh.TrangThaiID IN (@TT_DONE) THEN  d.SoLuong ELSE 0 END)
    FROM deleted d
    JOIN dbo.DonHang dh ON dh.DonHangID = d.DonHangID
    GROUP BY d.SanPhamID;

    -- Gộp theo SP
    DECLARE @G TABLE (SanPhamID INT PRIMARY KEY, DeltaQty INT NOT NULL);
    INSERT INTO @G (SanPhamID, DeltaQty)
    SELECT SanPhamID, SUM(DeltaQty)
    FROM @Delta
    GROUP BY SanPhamID;

    -- Chặn âm tồn
    IF EXISTS (
        SELECT 1
        FROM @G x
        LEFT JOIN dbo.KhoHang k ON k.SanPhamID = x.SanPhamID
        WHERE ISNULL(k.SoLuongTon, 0) + x.DeltaQty < 0
    )
    BEGIN
        ;THROW 50002, N'Số lượng tồn không được âm (Bán hàng).', 1;
    END;

    -- Cập nhật kho
    UPDATE k
       SET k.SoLuongTon = k.SoLuongTon + g.DeltaQty
    FROM dbo.KhoHang k
    JOIN @G g ON g.SanPhamID = k.SanPhamID;

    -- Thêm mới nếu Delta dương
    INSERT INTO dbo.KhoHang (SanPhamID, SoLuongTon)
    SELECT g.SanPhamID, g.DeltaQty
    FROM @G g
    LEFT JOIN dbo.KhoHang k ON k.SanPhamID = g.SanPhamID
    WHERE k.SanPhamID IS NULL AND g.DeltaQty >= 0;

    -- Đồng bộ SanPham
    UPDATE sp
       SET sp.SoLuongTon = k.SoLuongTon
    FROM dbo.SanPham sp
    JOIN dbo.KhoHang k ON k.SanPhamID = sp.SanPhamID
    WHERE EXISTS (SELECT 1 FROM @G d WHERE d.SanPhamID = sp.SanPhamID);
END
GO
ALTER TABLE [dbo].[ChiTietDonHang] ENABLE TRIGGER [trg_CapNhatSoLuongTonKhiBan]
GO
/****** Object:  Trigger [dbo].[trg_UpdatePhiVanChuyen_ChiTiet]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_UpdatePhiVanChuyen_ChiTiet]
on [dbo].[ChiTietDonHang]
after insert 
as 
begin
	set nocount on;

	update c
	set c.PhiVanChuyen = d.PhiVanChuyen
	from ChiTietDonHang c
	inner join inserted i on c.ChiTietID = i.ChiTietID
	inner join DonHang d on d.DonHangID = i.DonHangID;
end;
GO
ALTER TABLE [dbo].[ChiTietDonHang] ENABLE TRIGGER [trg_UpdatePhiVanChuyen_ChiTiet]
GO
/****** Object:  Trigger [dbo].[trg_Audit_CTNH]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* BEGIN_PATCH: REPLACE WHOLE TRIGGER */
CREATE   TRIGGER [dbo].[trg_Audit_CTNH]
ON [dbo].[ChiTietNhapHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @uid  NVARCHAR(64)  = CAST(SESSION_CONTEXT(N'ActorUserId')  AS NVARCHAR(64));
  DECLARE @mail NVARCHAR(256) = CAST(SESSION_CONTEXT(N'ActorEmail')   AS NVARCHAR(256));

  INSERT INTO dbo.AuditLog(EntityName, EntityId, Action, OldValues, NewValues, ActorUserId, ActorEmail, Source)
  SELECT
      N'ChiTietNhapHang' AS EntityName,
      CONVERT(NVARCHAR(64), COALESCE(i.ChiTietNhapHangID, d.ChiTietNhapHangID)) AS EntityId,
      CASE WHEN i.ChiTietNhapHangID IS NOT NULL AND d.ChiTietNhapHangID IS NOT NULL THEN N'UPDATE'
           WHEN i.ChiTietNhapHangID IS NOT NULL THEN N'INSERT'
           ELSE N'DELETE' END AS Action,
      (SELECT d.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS OldValues,
      (SELECT i.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS NewValues,
      @uid, @mail, N'Trigger'
  FROM inserted i
  FULL JOIN deleted d ON d.ChiTietNhapHangID = i.ChiTietNhapHangID;
END
GO
ALTER TABLE [dbo].[ChiTietNhapHang] ENABLE TRIGGER [trg_Audit_CTNH]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSoLuongTonKhiNhap]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatSoLuongTonKhiNhap]
ON [dbo].[ChiTietNhapHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Delta TABLE (SanPhamID INT NOT NULL, DeltaQty INT NOT NULL);

    -- Delta = (INSERT/UPDATE: +SoLuong mới) - (UPDATE/DELETE: +SoLuong cũ)
    INSERT INTO @Delta (SanPhamID, DeltaQty)
    SELECT
        COALESCE(i.SanPhamID, d.SanPhamID) AS SanPhamID,
        SUM(ISNULL(i.SoLuong, 0) - ISNULL(d.SoLuong, 0)) AS DeltaQty
    FROM inserted i
    FULL OUTER JOIN deleted d
        ON i.ChiTietNhapHangID = d.ChiTietNhapHangID
    GROUP BY COALESCE(i.SanPhamID, d.SanPhamID);

    -- Chặn âm tồn
    IF EXISTS (
        SELECT 1
        FROM @Delta x
        LEFT JOIN dbo.KhoHang k ON k.SanPhamID = x.SanPhamID
        WHERE ISNULL(k.SoLuongTon, 0) + x.DeltaQty < 0
    )
    BEGIN
        ;THROW 50001, N'Số lượng tồn không được âm (Nhập hàng).', 1;
    END;

    -- UPDATE các dòng đã có
    UPDATE k
       SET k.SoLuongTon = k.SoLuongTon + x.DeltaQty
    FROM dbo.KhoHang k
    INNER JOIN @Delta x ON x.SanPhamID = k.SanPhamID;

    -- INSERT dòng chưa có
    INSERT INTO dbo.KhoHang (SanPhamID, SoLuongTon)
    SELECT x.SanPhamID, x.DeltaQty
    FROM @Delta x
    LEFT JOIN dbo.KhoHang k ON k.SanPhamID = x.SanPhamID
    WHERE k.SanPhamID IS NULL;

    -- Đồng bộ SanPham
    UPDATE sp
       SET sp.SoLuongTon = k.SoLuongTon
    FROM dbo.SanPham sp
    INNER JOIN dbo.KhoHang k ON k.SanPhamID = sp.SanPhamID
    WHERE EXISTS (SELECT 1 FROM @Delta d WHERE d.SanPhamID = sp.SanPhamID);
END
GO
ALTER TABLE [dbo].[ChiTietNhapHang] DISABLE TRIGGER [trg_CapNhatSoLuongTonKhiNhap]
GO
/****** Object:  Trigger [dbo].[trg_TinhTongTien]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhTongTien]
ON [dbo].[ChiTietNhapHang]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE c
      SET c.TongTien = i.SoLuong * i.DonGiaNhap
    FROM dbo.ChiTietNhapHang AS c
    INNER JOIN inserted AS i
        ON c.ChiTietNhapHangID = i.ChiTietNhapHangID;
END
GO
ALTER TABLE [dbo].[ChiTietNhapHang] ENABLE TRIGGER [trg_TinhTongTien]
GO
/****** Object:  Trigger [dbo].[trg_UpdateStock_OnNhapHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateStock_OnNhapHang]
ON [dbo].[ChiTietNhapHang]
AFTER INSERT
AS
BEGIN
    UPDATE kh
    SET kh.SoLuongTon = kh.SoLuongTon + i.SoLuong
    FROM KhoHang kh
    INNER JOIN inserted i ON kh.SanPhamId = i.SanPhamId;
END
GO
ALTER TABLE [dbo].[ChiTietNhapHang] ENABLE TRIGGER [trg_UpdateStock_OnNhapHang]
GO
/****** Object:  Trigger [dbo].[trg_Audit_DanhMuc]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* BEGIN_PATCH: REPLACE WHOLE TRIGGER */
CREATE   TRIGGER [dbo].[trg_Audit_DanhMuc]
ON [dbo].[DanhMucSanPham]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @uid  NVARCHAR(64)  = CAST(SESSION_CONTEXT(N'ActorUserId')  AS NVARCHAR(64));
    DECLARE @mail NVARCHAR(256) = CAST(SESSION_CONTEXT(N'ActorEmail')   AS NVARCHAR(256));

    INSERT INTO dbo.AuditLog(EntityName, EntityId, Action, OldValues, NewValues, ActorUserId, ActorEmail, Source)
    SELECT
        N'DanhMucSanPham' AS EntityName,
        CONVERT(NVARCHAR(64), COALESCE(i.DanhMucID, d.DanhMucID)) AS EntityId,
        CASE WHEN i.DanhMucID IS NOT NULL AND d.DanhMucID IS NOT NULL THEN N'UPDATE'
             WHEN i.DanhMucID IS NOT NULL THEN N'INSERT'
             ELSE N'DELETE' END AS Action,
        (SELECT d.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS OldValues,
        (SELECT i.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS NewValues,
        @uid, @mail, N'Trigger'
    FROM inserted i
    FULL JOIN deleted d ON d.DanhMucID = i.DanhMucID;
END
GO
ALTER TABLE [dbo].[DanhMucSanPham] DISABLE TRIGGER [trg_Audit_DanhMuc]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatDoanhThuTheoNam]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDoanhThuTheoNam]
ON [dbo].[DoanhThuTheoNgay]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NamCanCapNhat TABLE (Nam INT);

    INSERT INTO @NamCanCapNhat(Nam)
    SELECT DISTINCT YEAR(Ngay) FROM inserted
    UNION
    SELECT DISTINCT YEAR(Ngay) FROM deleted;

    DELETE dn
    FROM DoanhThuTheoNam dn
    INNER JOIN @NamCanCapNhat nc ON dn.Nam = nc.Nam;

    INSERT INTO DoanhThuTheoNam (Nam, TongSoDonHang, TongSoLuong, TongDoanhThu, LoiNhuan)
    SELECT 
        YEAR(Ngay),
        SUM(TongSoDonHang),
        SUM(TongSoLuong),
        SUM(TongDoanhThu),
        SUM(LoiNhuan)
    FROM DoanhThuTheoNgay dn
    INNER JOIN @NamCanCapNhat nc ON YEAR(dn.Ngay) = nc.Nam
    GROUP BY YEAR(dn.Ngay);
END;
GO
ALTER TABLE [dbo].[DoanhThuTheoNgay] ENABLE TRIGGER [trg_CapNhatDoanhThuTheoNam]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatDoanhThuTheoThang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDoanhThuTheoThang]
ON [dbo].[DoanhThuTheoNgay]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ThangNam TABLE (Nam INT, Thang INT);

    INSERT INTO @ThangNam(Nam, Thang)
    SELECT DISTINCT YEAR(Ngay), MONTH(Ngay) FROM inserted
    UNION
    SELECT DISTINCT YEAR(Ngay), MONTH(Ngay) FROM deleted;

    DELETE dt
    FROM DoanhThuTheoThang dt
    INNER JOIN @ThangNam tn ON dt.Nam = tn.Nam AND dt.Thang = tn.Thang;

    INSERT INTO DoanhThuTheoThang (Nam, Thang, TongSoDonHang, TongSoLuong, TongDoanhThu, LoiNhuan)
    SELECT 
        YEAR(Ngay) AS Nam,
        MONTH(Ngay) AS Thang,
        SUM(TongSoDonHang),
        SUM(TongSoLuong),
        SUM(TongDoanhThu),
        SUM(LoiNhuan)
    FROM DoanhThuTheoNgay dn
    INNER JOIN @ThangNam tn ON YEAR(dn.Ngay) = tn.Nam AND MONTH(dn.Ngay) = tn.Thang
    GROUP BY YEAR(dn.Ngay), MONTH(dn.Ngay);
END;
GO
ALTER TABLE [dbo].[DoanhThuTheoNgay] ENABLE TRIGGER [trg_CapNhatDoanhThuTheoThang]
GO
/****** Object:  Trigger [dbo].[trg_BuTruTonKhiDoiTrangThaiDon]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_BuTruTonKhiDoiTrangThaiDon]
ON [dbo].[DonHang]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ khi đổi trạng thái
    IF NOT EXISTS (
        SELECT 1
        FROM inserted i
        JOIN deleted d ON d.DonHangID = i.DonHangID
        WHERE ISNULL(i.TrangThaiID,-1) <> ISNULL(d.TrangThaiID,-1)
    ) RETURN;

    DECLARE @TT_DONE INT = 4;     -- Giao thành công
    DECLARE @Delta TABLE (SanPhamID INT NOT NULL, DeltaQty INT NOT NULL);

    -- KHÔNG DONE -> DONE: trừ tồn (âm Delta)
    INSERT INTO @Delta (SanPhamID, DeltaQty)
    SELECT cd.SanPhamID, -SUM(cd.SoLuong)
    FROM inserted i
    JOIN deleted d ON d.DonHangID = i.DonHangID
    JOIN dbo.ChiTietDonHang cd ON cd.DonHangID = i.DonHangID
    WHERE i.TrangThaiID IN (@TT_DONE) AND d.TrangThaiID NOT IN (@TT_DONE)
    GROUP BY cd.SanPhamID;

    -- DONE -> KHÔNG DONE: cộng trả tồn (dương Delta)
    INSERT INTO @Delta (SanPhamID, DeltaQty)
    SELECT cd.SanPhamID, +SUM(cd.SoLuong)
    FROM inserted i
    JOIN deleted d ON d.DonHangID = i.DonHangID
    JOIN dbo.ChiTietDonHang cd ON cd.DonHangID = i.DonHangID
    WHERE i.TrangThaiID NOT IN (@TT_DONE) AND d.TrangThaiID IN (@TT_DONE)
    GROUP BY cd.SanPhamID;

    -- Gộp + kiểm tra âm + cập nhật kho + sync SP
    DECLARE @G TABLE (SanPhamID INT PRIMARY KEY, DeltaQty INT NOT NULL);
    INSERT INTO @G (SanPhamID, DeltaQty)
    SELECT SanPhamID, SUM(DeltaQty)
    FROM @Delta
    GROUP BY SanPhamID;

    IF EXISTS (
        SELECT 1
        FROM @G x
        LEFT JOIN dbo.KhoHang k ON k.SanPhamID = x.SanPhamID
        WHERE ISNULL(k.SoLuongTon, 0) + x.DeltaQty < 0
    )
    BEGIN
        ;THROW 50003, N'Số lượng tồn không được âm (Đổi trạng thái đơn).', 1;
    END;

    UPDATE k
       SET k.SoLuongTon = k.SoLuongTon + g.DeltaQty
    FROM dbo.KhoHang k
    JOIN @G g ON g.SanPhamID = k.SanPhamID;

    INSERT INTO dbo.KhoHang (SanPhamID, SoLuongTon)
    SELECT g.SanPhamID, g.DeltaQty
    FROM @G g
    LEFT JOIN dbo.KhoHang k ON k.SanPhamID = g.SanPhamID
    WHERE k.SanPhamID IS NULL AND g.DeltaQty >= 0;

    UPDATE sp
       SET sp.SoLuongTon = k.SoLuongTon
    FROM dbo.SanPham sp
    JOIN dbo.KhoHang k ON k.SanPhamID = sp.SanPhamID
    WHERE EXISTS (SELECT 1 FROM @G d WHERE d.SanPhamID = sp.SanPhamID);
END
GO
ALTER TABLE [dbo].[DonHang] ENABLE TRIGGER [trg_BuTruTonKhiDoiTrangThaiDon]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatDoanhThuTheoNgay]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDoanhThuTheoNgay]
ON [dbo].[DonHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NgayCanCapNhat TABLE (Ngay DATE);

    INSERT INTO @NgayCanCapNhat(Ngay)
    SELECT DISTINCT CONVERT(DATE, NgayDatHang) FROM inserted
    UNION
    SELECT DISTINCT CONVERT(DATE, NgayDatHang) FROM deleted;

    DELETE FROM DoanhThuTheoNgay
    WHERE Ngay IN (SELECT Ngay FROM @NgayCanCapNhat);

    INSERT INTO DoanhThuTheoNgay (Ngay, TongSoDonHang, TongSoLuong, TongDoanhThu, LoiNhuan)
    SELECT 
        NgayDatHang_Ngay,
        COUNT(DISTINCT dh.DonHangID) AS TongSoDonHang,
        SUM(ct.SoLuong) AS TongSoLuong,
        SUM(DISTINCT dh.TongTien) AS TongDoanhThu,
        SUM(DISTINCT dh.TongTien) - ISNULL((
            SELECT SUM(ctn.TongTien)
            FROM ChiTietNhapHang ctn
            JOIN NhapHang nh ON nh.PhieuNhapID = ctn.PhieuNhapID
            WHERE CONVERT(DATE, nh.NgayNhap) = NgayDatHang_Ngay
        ), 0) AS LoiNhuan
    FROM DonHang dh
    JOIN ChiTietDonHang ct ON dh.DonHangID = ct.DonHangID
    CROSS APPLY (SELECT CONVERT(DATE, dh.NgayDatHang) AS NgayDatHang_Ngay) AS sub
    WHERE NgayDatHang_Ngay IN (SELECT Ngay FROM @NgayCanCapNhat)
    GROUP BY NgayDatHang_Ngay;
END;
GO
ALTER TABLE [dbo].[DonHang] ENABLE TRIGGER [trg_CapNhatDoanhThuTheoNgay]
GO
/****** Object:  Trigger [dbo].[trg_Notify_Audit_DonHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* BEGIN_PATCH: Thông báo + Audit cho DonHang */
CREATE   TRIGGER [dbo].[trg_Notify_Audit_DonHang]
ON [dbo].[DonHang]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @uid  NVARCHAR(64)  = CAST(SESSION_CONTEXT(N'ActorUserId')  AS NVARCHAR(64));
    DECLARE @mail NVARCHAR(256) = CAST(SESSION_CONTEXT(N'ActorEmail')   AS NVARCHAR(256));

    /* 1) THÔNG BÁO ĐƠN MỚI */
    INSERT INTO dbo.AppNotification(Type, Title, Body, RefEntity, RefId, Severity)
    SELECT
        'OrderCreated',
        N'Đơn hàng mới #' + CONVERT(NVARCHAR(20), i.DonHangID) + N' cần xác nhận',
        N'Khách: ' + ISNULL(i.TenKhachHang, N'(ẩn)') + N' • Tổng: ' +
          FORMAT(i.TongTien, 'N0', 'vi-VN') + N' đ',
        'DonHang',
        CONVERT(NVARCHAR(20), i.DonHangID),
        'info'
    FROM inserted i
    LEFT JOIN deleted d ON d.DonHangID = i.DonHangID
    WHERE d.DonHangID IS NULL;  -- chỉ khi tạo mới

    /* 2) THÔNG BÁO ĐỔI TRẠNG THÁI (tuỳ chọn nhưng nên có) */
    INSERT INTO dbo.AppNotification(Type, Title, Body, RefEntity, RefId, Severity)
    SELECT
        'OrderStatusChanged',
        N'Đơn #' + CONVERT(NVARCHAR(20), i.DonHangID) + N': ' +
          ISNULL(tt_old.TenTrangThai, N'?') + N' → ' + ISNULL(tt_new.TenTrangThai, N'?'),
        N'Khách: ' + ISNULL(i.TenKhachHang, N'') + N' • Tổng: ' +
          FORMAT(i.TongTien, 'N0', 'vi-VN') + N' đ',
        'DonHang',
        CONVERT(NVARCHAR(20), i.DonHangID),
        CASE WHEN i.TrangThaiID = 4 THEN 'success'   -- Giao thành công
             WHEN i.TrangThaiID = 5 THEN 'warn'      -- Đã hủy
             ELSE 'info' END
    FROM inserted i
    JOIN deleted d ON d.DonHangID = i.DonHangID
    LEFT JOIN dbo.TrangThaiDonHang tt_old ON tt_old.TrangThaiID = d.TrangThaiID
    LEFT JOIN dbo.TrangThaiDonHang tt_new ON tt_new.TrangThaiID = i.TrangThaiID
    WHERE ISNULL(i.TrangThaiID, -1) <> ISNULL(d.TrangThaiID, -1);

    /* 3) GHI NHẬT KÝ AUDIT */
    INSERT INTO dbo.AuditLog(EntityName, EntityId, Action, OldValues, NewValues, ActorUserId, ActorEmail, Source)
    SELECT
        N'DonHang',
        CONVERT(NVARCHAR(64), COALESCE(i.DonHangID, d.DonHangID)),
        CASE WHEN i.DonHangID IS NOT NULL AND d.DonHangID IS NOT NULL THEN N'UPDATE'
             WHEN i.DonHangID IS NOT NULL THEN N'INSERT'
             ELSE N'DELETE' END,
        (SELECT d.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT i.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        @uid, @mail, N'Trigger'
    FROM inserted i
    FULL JOIN deleted d ON d.DonHangID = i.DonHangID;
END
GO
ALTER TABLE [dbo].[DonHang] ENABLE TRIGGER [trg_Notify_Audit_DonHang]
GO
/****** Object:  Trigger [dbo].[trg_Audit_SanPham]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* BEGIN_PATCH: REPLACE WHOLE TRIGGER */
CREATE   TRIGGER [dbo].[trg_Audit_SanPham]
ON [dbo].[SanPham]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @uid  NVARCHAR(64)  = CAST(SESSION_CONTEXT(N'ActorUserId')  AS NVARCHAR(64));
    DECLARE @mail NVARCHAR(256) = CAST(SESSION_CONTEXT(N'ActorEmail')   AS NVARCHAR(256));

    -- notify khi tạo sp mới
    INSERT INTO dbo.AppNotification(Type, Title, Body, RefEntity, RefId, Severity)
    SELECT 'DataChanged',
           N'Tạo sản phẩm: ' + i.TenSanPham,
           N'Giá: ' + CONVERT(NVARCHAR(50), i.Gia),
           'SanPham', CONVERT(NVARCHAR(20), i.SanPhamID), 'info'
    FROM inserted i
    LEFT JOIN deleted d ON d.SanPhamID = i.SanPhamID
    WHERE d.SanPhamID IS NULL;

    -- AUDIT (không dùng function)
    INSERT INTO dbo.AuditLog(EntityName, EntityId, Action, OldValues, NewValues, ActorUserId, ActorEmail, Source)
    SELECT
        N'SanPham' AS EntityName,
        CONVERT(NVARCHAR(64), COALESCE(i.SanPhamID, d.SanPhamID)) AS EntityId,
        CASE WHEN i.SanPhamID IS NOT NULL AND d.SanPhamID IS NOT NULL THEN N'UPDATE'
             WHEN i.SanPhamID IS NOT NULL THEN N'INSERT'
             ELSE N'DELETE' END AS Action,
        (SELECT d.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS OldValues,
        (SELECT i.* FOR JSON PATH, WITHOUT_ARRAY_WRAPPER) AS NewValues,
        @uid, @mail, N'Trigger'
    FROM inserted i
    FULL JOIN deleted d ON d.SanPhamID = i.SanPhamID;
END
GO
ALTER TABLE [dbo].[SanPham] ENABLE TRIGGER [trg_Audit_SanPham]
GO
/****** Object:  Trigger [dbo].[trg_InsertKhoHang]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertKhoHang]
ON [dbo].[SanPham]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.KhoHang (SanPhamID, SoLuongTon)
    SELECT i.SanPhamID, 0
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM dbo.KhoHang k WHERE k.SanPhamID = i.SanPhamID);

    -- Đồng bộ SoLuongTon trong bảng SanPham (đề phòng SanPham.SoLuongTon != 0)
    UPDATE sp
    SET sp.SoLuongTon = 0
    FROM dbo.SanPham sp
    JOIN inserted i ON i.SanPhamID = sp.SanPhamID
    WHERE ISNULL(sp.SoLuongTon, 0) <> 0;
END
GO
ALTER TABLE [dbo].[SanPham] ENABLE TRIGGER [trg_InsertKhoHang]
GO
/****** Object:  Trigger [dbo].[trg_UpdateProductCount]    Script Date: 11/25/2025 12:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateProductCount]
ON [dbo].[SanPham]
AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Affected TABLE (NCC INT);

    INSERT INTO @Affected (NCC)
    SELECT DISTINCT NhaCungCapId FROM inserted WHERE NhaCungCapId IS NOT NULL;

    INSERT INTO @Affected (NCC)
    SELECT DISTINCT NhaCungCapId FROM deleted WHERE NhaCungCapId IS NOT NULL;

    UPDATE NhaCungCap
    SET ProductCount =
        (SELECT COUNT(*) FROM SanPham WHERE SanPham.NhaCungCapId = NhaCungCap.NhaCungCapId)
    WHERE NhaCungCapId IN (SELECT NCC FROM @Affected);
END;
GO
ALTER TABLE [dbo].[SanPham] ENABLE TRIGGER [trg_UpdateProductCount]
GO
USE [master]
GO
