@model TL4_SHOP.Data.TaoTaiKhoan

<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label asp-for="HoTen" class="mb-1">Họ tên</label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="mb-1"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Phone" class="mb-1"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MatKhau" class="mb-1">Mật khẩu</label>
                    <input asp-for="MatKhau" type="password" class="form-control" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>

                <div class="mt-4 d-flex gap-2">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>